@font-face {
    font-family: 'HerscheyFutura';
    src: url('/lib/herscheyfutura.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HerscheyScript';
    src: url('/static/fonts/herscheyscript.otf') format('opentype');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoproplt10-regular.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoprop10-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoproplt10-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LMProp";
    src: url('/lib/lmmonoproplt10-oblique.otf') format('opentype');
    font-weight: light;
    font-style: italic;
}

@font-face {
  font-family: 'Limousine';
       url('javascript/Limousine.woff') format('woff'), /* Pretty Modern Browsers */
       url('javascript/Limousine.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    margin: 0 10em;
    color: #111;
    font-family: "LMProp" !important;
    font-size: 14px;
    line-height: 1.4em;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
}
a {
color:#284;
text-decoration:none;
border-bottom:1px solid black;
}

a:hover{
color:black;
border-color: #284;
}

h1 {
	display:table;
    background-color: #284;
    color: white;
    padding: 4px 4px 0px;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px 2px 2px 2px;
    font-family: "Limousine",sans-serif;
    font-size: 35px;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 12px;
    position: relative;
    z-index: 20;
}

h2 {
    font-family: "Limousine",sans-serif;
    font-size: 14px !important;
    letter-spacing: 0.1em;
    line-height: 2em !important;
    margin-bottom: 6px;
    margin-top: 6px;
}



