<meta charset="utf-8" />
<style>
img {
    display: none;
}
body {
    margin: 0;
    padding: 0;
}
circle {
    radius: 5;
}
#buttons {
    position: absolute;
    left: 10;
    top: 10;
    z-index: 100;
}
</style>

<div id="buttons">
    <button id="position">position</button>
    <button id="random">random</button>
    <button id="red">red</button>
</div>

<img id="jorn" src="" />

<script src="d3.min.js"></script>
<script>

function getImageData (eltid) {
    var image = document.getElementById(eltid),
        canvas = document.createElement("canvas"),
        context = canvas.getContext('2d'),
        len;
    canvas.setAttribute("width", image.width);
    canvas.setAttribute("height", image.height);
    // console.log("image", image, canvas, image.ready);
    context.drawImage(image, 0, 0);
    // console.log("image size", image.width, image.height);
    var imagedata = context.getImageData(0, 0, image.width, image.height);
    len = imagedata.data.length;
    console.log("imagedata.length", len);
    var selection = [], i;
    for (var y=0; y<image.height; y+=10 ) {
        for (var x=0; x<image.width; x+=10) {
            i = ((y*image.width) + x) * 4;
            selection.push({
                x: x,
                y: y,
                red: imagedata.data[i],
                green: imagedata.data[i+1],
                blue: imagedata.data[i+2],
                alpha: imagedata.data[i+3]
            });
        }
    }
    //for (var i=0; i<len; i+= 4*1000) {
    //    selection.push([imagedata.data[i], imagedata.data[i+1], imagedata.data[i+2], imagedata.data[i+3]])
    //}
    console.log("selection", selection.length, selection);
    // d3.select("body").append(canvas);
    init(selection);
}

// var line = d3.svg.line()
//     .x(function (d) { return d.x })
//     .y(function (d) { return d.y });

var width = 1000,
    height = 640;

function init (pixels) {
    d3.select("body")
      .append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(5,5)")
        .selectAll("circle")
        .data(pixels)
      .enter()
      .append("circle")
        .attr("r", 4)
        .style("fill", function (d) { return d3.rgb(d.red, d.green, d.blue) });
    place_by_position();        
}

function place_by_position () {
    d3.select("svg").selectAll("circle")
        .attr("cx", function (d, i) { return d.x; })
        .attr("cy", function (d, i) { return d.y; });
}

function place_randomly () {
    d3.select("svg").selectAll("circle")
        .attr("cx", randomx)
        .attr("cy", function (d, i) { return Math.random() * height - 20; })    
}

function randomx () {
    return Math.random() * width;
}

function randomy () {
    return Math.random() * height;
}

function place_by_red () {
    d3
        .select("svg")
        .selectAll("circle")
        .attr("cx", function (d, i) {
            return d.red;
        })
        .attr("cy", randomy);
}

d3.select("#random")
    .on("click", place_randomly);

d3.select("#position")
    .on("click", place_by_position);

d3.select("#red")
    .on("click", place_by_red);

// simple version (one time)
// function draw (data) {
//     var w = 640,
//         h = 640;

//     d3.select("body").append("svg")
//         .attr("width", w)
//         .attr("height", h)
//         .append("g")
//         .attr("transform", "translate(5,5)")
//         .selectAll("circle")
//         .data(data)
//         .enter()
//         .append("circle")
//         // .attr("cx", function (d, i) { return Math.random() * w; })
//         // .attr("cy", function (d, i) { return Math.random() * h; })
//         .attr("cx", function (d, i) { return d.x; })
//         .attr("cy", function (d, i) { return d.y; })
//         .attr("r", 4)
//         .style("fill", function (d) { return d3.rgb(d.red, d.green, d.blue) });
// }

d3.select("img#jorn").on("load", function () {
    getImageData("jorn");
})
// .attr("src", "data/S1_23F_22_Enlargement.640x.png");
//.attr("src", "data/greenblack.png")
// .attr("src", "data/redblack.png");
.attr("src", "data/Sylvia.jpg");

// http://en.wikipedia.org/wiki/Garden_warbler
// http://en.wikipedia.org/wiki/Main_Page#mediaviewer/File:Sylvia_borin_%28%C3%96rebro_County%29.jpg

</script>
