@font-face {
    font-family: UniversElse;
    font-style: normal;
    font-weight: normal;
    src:url("fonts/UniversElse-Regular.ttf");
}
@font-face {
    font-family: UniversElse;
    font-style: normal;
    font-weight: bold;
    src:url("fonts/UniversElse-Bold.ttf");
}

@font-face {
    font-family: CourierCode;
    font-style: normal;
    font-weight: normal;
    src:url("fonts/CourierCode-Roman.ttf");
}

@font-face {
    font-family: CourierCode;
    font-style: normal;
    font-weight: bold;
    src:url("fonts/CourierCode-Bold.ttf");
}

h1, h2, h3, h4, h5 {
    font-family: UniversElse;
}

code {
    font-family: CourierCode;
    font-size: 18px;
}

pre {
    border-color: black;
    background: white;
    border: 1px dashed black;
    width: auto;
    /*display: inline-block;*/
}